@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
    var modell = (List<WebApplication1.Areas.GiaoVu.Models.KetQuaThongKe>)ViewBag.thongkedao;
    var thongtinnam = (Model.EF.NAM_HOC)ViewBag.ThongTinNam;
    var thongtinhocky = (Model.EF.HOC_KY)ViewBag.ThongTinHocKy;
}
<style>
    h3#panelthongke {
        margin-left: 253px;
    }
    table.table.table-bordered {
        border-radius: 1em;
        overflow: hidden;
    }
    p#panel {
        padding-left: 368px;
    }
</style>


<div class="cardTuLamIndex">

    <h3 id="panelthongke"><strong>THỐNG KÊ TÍN CHỈ SINH VIÊN ĐĂNG KÝ</strong> </h3>
    <p id="panel">Năm: @thongtinnam.TEN_NAM_HOC - Học Kỳ: @thongtinhocky.TEN_HOC_KY</p>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr class="panel-heading">
                <th>
                    Mã Môn
                </th>
                <th>
                    Tên Môn
                </th>
                <th>
                    Tổng chỉ sinh viên đăng ký
                </th>
                <th>
                    Số lớp dự kiến
                </th>
            </tr>
        </thead>
        @foreach (var item in modell)
        {
            var tongchimon = item.TONGCHIMON;
            var solop = item.TONGCHIMON / 45;
            <tbody>
                <tr>
                    <th>
                        @Html.Label(item.MA_MON_HOC)
                    </th>
                    <th>
                        @Html.Label(item.TEN_MON_HOC)
                    </th>
                    <th>
                        @tongchimon
                    </th>
                    <th>
                        @solop
                    </th>
                </tr>
            </tbody>
        }
    </table>

</div>


