
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<div class="row">
    <div class="col-xs-3 .col-sm-3 .col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="ti-user"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.sinhvien</div>
                        <div>Sinh Viên</div>
                    </div>
                </div>
            </div>
            <a href="/GiaoVu/SinhVien">
                <div class="panel-footer">
                    <span class="pull-left">Xem Chi Tiết</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-3 .col-sm-3 .col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="ti-view-list-alt"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.monhoc</div>
                        <div>Môn Học</div>
                    </div>
                </div>
            </div>
            <a href="/GiaoVu/MonHoc">
                <div class="panel-footer">
                    <span class="pull-left">Xem Chi Tiết</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-3 .col-sm-3 .col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="ti-view-list-alt"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.ThongKe</div>
                        <div>Thống kê</div>
                    </div>
                </div>
            </div>
            <a href="/GiaoVu/ThongKe">
                <div class="panel-footer">
                    <span class="pull-left">Xem Chi Tiết</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-3 .col-sm-3 .col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="ti-view-list-alt"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.NamHoc</div>
                        <div>Năm Học</div>
                    </div>
                </div>
            </div>
            <a href="/GiaoVu/NamHoc">
                <div class="panel-footer">
                    <span class="pull-left">Xem Chi Tiết</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

