@model Model.EF.NAM_HOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Chi tiết năm học</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_NAM_HOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_NAM_HOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

    </dl>
</div>