@{
    Layout = null;
    var user = (WebApplication1.Common.SinhVienModel)Session["USER_SESSION"];
}
<!DOCTYPE html>
<html>
<head>
    <title>Đăng Ký Tín Chỉ ĐH Duy Tân</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Assets/QuanLy/assets/img/dtu_favicon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Assets/QuanLy/assets/img/dtu_favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Assets/SinhVien/cu/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>

    @*  *@

    <link href="~/Assets/SinhVien/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Assets/SinhVien/js/bootstrap.min.js"></script>
    <style>
        div#duoi {
            margin-top: 84px;
            float: right;
        }

        button.btn {
            border-radius: 50px;
            margin-bottom: 6px;
        }

        marquee {
            color: red;
            margin-top: 11px;
            float: right;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="/Home"><img src="~/Assets/SinhVien/img/logoDuytan.png" /></a>
            </div>
            <div class="header-right">
                <div id="duoi">
                    <div class="btn">
                        <a href="/QLTaiKhoan/ProfileUser/@user.IdSinhVien">Profile</a>
                    </div>
                    <div class="btn">
                        <a href="/QLTaiKhoan/DoiMatKhauSinhVien">Đổi mật khẩu</a>
                    </div>
                    <div class="btn">
                        <a href="/Login/Login">Đăng xuất</a>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="">
            <div class="navbar navbar-inverse">
                <marquee direction="right"><h3><strong>ĐẠI HỌC DÂN LẬP DUY TÂN</strong> </h3></marquee>
            </div>
        </div>
        <div class="main">
            <div class="sidebar">
                @RenderPage("MenuLeft.cshtml")
            </div>
            <div class="content">
                <div class="s-main">
                    @RenderBody()
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
    <style>
        .footer_footer {
            background: black;
            margin-top: 13.3%;
        }
    </style>
    <div class="footer_footer">
        <div class="wrap">
            <div class="footer">
                <div class="footer1">
                    <p>&copy; @DateTime.Now.Year Design by <a target="_blank" href="https://www.facebook.com/hoangbuutran66">Bửu Trần-Facebook</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>