@{
    Layout = null;
}

<ul class="nav">
    <li>
        <a href="/Admin/Home">
            <i class="ti-panel"></i>
            <p>Home</p>
        </a>
    </li>
    <li>
        <a href="/Admin/LoaiNguoiDung">
            <i class="ti-panel"></i>
            <p>Loại Người Dùng</p>
        </a>
    </li>
    <li>
        <a href="/Admin/NhanVien">
            <i class="ti-user"></i>
            <p>Giáo vụ</p>
        </a>
    </li>
</ul>