@{
    Layout = null;
}
<style>
    ul.dropdown-menu {
        margin-left: 27px;
    }
</style>
<ul class="nav">
    <li>
        <a href="/GiaoVu/Home/Index">
            <i class="ti-panel"></i>
            <p>Trang Chủ</p>
        </a>
    </li>
    <li>
        <a href="/GiaoVu/SinhVien/Index">
            <i class="ti-user"></i>
            <p>Sinh Viên</p>
        </a>
    </li>
    <li>
        <a href="/GiaoVu/MonHoc/Index">
            <i class="ti-view-list-alt"></i>
            <p>Môn Học</p>
        </a>
    </li>

    <li>
        <a href="/GiaoVu/ThongKe/Index">
            <i class="ti-panel"></i>
            <p>Thống Kê</p>
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="ti-harddrives"></i>
            <p>Thông Tin Chung</p>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/GiaoVu/NamHoc/Index">Năm Học</a></li>
            <li><a href="#">...</a></li>
        </ul>
    </li>

</ul>