@{
    Layout = null;
}

<ul class="nav">
    <li class="active">
        <a href="dashboard.html">
            <i class="ti-panel"></i>
            <p>Loại Người Dùng</p>
        </a>
    </li>
    <li>
        <a href="user.html">
            <i class="ti-user"></i>
            <p>Người Dùng</p>
        </a>
    </li>
</ul>