
@{
    Layout = null;
    var SinhVien = (WebApplication1.Common.SinhVienModel)Session["USER_SESSION"];
}

<div class="s-main">
    <div class="s_hdr">
        <h2>Categories</h2>
    </div>
    <div class="text1-nav">
        <ul>
            <li><a href="/Home/TaoPhieuDangKy"><strong>PHIẾU ĐĂNG KÍ</strong> </a></li>
            <li><a href="/Home/XemLichSuDangKy">XEM PHIẾU ĐĂNG KÍ</a></li>
            <li><a href="/Home/XemChuongTrinhHoc">XEM CHƯƠNG TRÌNH HỌC</a></li>
        </ul>
    </div>
</div>