
@{
    Layout = null;
    var SinhVien = (WebApplication1.Common.SinhVienModel)Session["USER_SESSION"];
}

<div class="s-main">
    <div class="s_hdr">
        <h2><strong>@SinhVien.MaSinhVien</strong></h2>
    </div>
    <div class="text1-nav">
        <ul>
            <li><a href="/Home/TaoPhieuDangKy"><strong>TẠO PHIẾU ĐĂNG KÍ</strong> </a></li>
            <li><a href="/Home/XemLichSuDangKy"><strong>XEM PHIẾU ĐĂNG KÍ </strong></a></li>
            <li><a href="/Home/XemChuongTrinhHoc/@SinhVien.IdSinhVien"><strong>XEM CHƯƠNG TRÌNH HỌC </strong></a></li>
        </ul>
    </div>
</div>