body {
}
.cardTuLam {
    padding-left: 49px;
    padding-right: 49px;
    padding-bottom: 49px;
    margin: 3px;
    background: #fff;
    border-radius: 19px;
    display: inline-block;
    width: 90%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-left: 58px;
}

table.table.table-bordered {
    border-radius: 1em;
    overflow: hidden;
}

.cardTuLamIndex {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
    margin: 3px;
    background: #fff;
    border-radius: 19px;
    display: inline-block;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-left: 2px;
}