@{
    ViewBag.Title = "DaDangKyPhieu";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}
<style>
    h2#dadangkiphieu {
        margin: 32px;
        padding-left: 73px;
    }
</style>
<h2 id="dadangkiphieu" class="ti-panel">Đã Đăng Ký Phiếu Cho Năm Và Học Kỳ Trên</h2>

