
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<div class="cnt-main">
    <div class="grid">
        <div class="col-md-6">
            left
        </div>
        <div class="col-md-6">
            right
        </div>
    </div>
</div>
