@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}
<style>
    h4 {
        margin-top: 12px;
        margin-left: 44px;
    }

    .cnt-main {
        height: 370px;
    }
</style>
<h4>Nội Quy Sử Dụng Hệ Thống CNTT-DUYTAN</h4>
<div class="cnt-main">
    <div class="grid">
        <div class="col-md-6">
            <pre>
            Mô Tả Về Hệ Thống

1..........................................
2..........................................
3..........................................
4..........................................
5..........................................
6..........................................
7..........................................
8..........................................
9..........................................
            </pre>
        </div>
        <div class="col-md-6">
            <pre>
            Quy Định Về Hệ Thống

1. Sinh viên chỉ được tạo phiếu đăng kí tín
   chỉ 1 lần tương ứng với 1 học kì của năm.
2. Sinh viên chỉ được đăng kí những môn chưa
   học trong chương trình học của Mydtu.
3. Không có hành vi gian lận trong đăng kí
4..........................................
5..........................................
6..........................................
7..........................................
8..........................................
            </pre>
        </div>
    </div>
</div>
