@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}
<style>
    p {
        margin-top: 12px;
        margin-left: 44px;
    }.cnt-main {
    height: 370px;
}
</style>
<p>NỘI QUY SỬ DỤNG HỆ THỐNG PORTAL MYDUYTAN</p>
<div class="cnt-main">

    <div class="grid">
        <div class="col-md-6">
            ĐỐI VỚI SINH VIÊN/HỌC VIÊN:



            1. Mọi Sinh viên/Học viên khi tham gia sử dụng hệ thống portal MyDuyTan phải chịu trách nhiệm hoàn toàn về sự xác thực và tính chính xác của mọi thông tin mình cập nhật, đăng ký, đăng tải,…;



            2. Nghiêm cấm mọi hành vi phá hoại hệ thống MyDuyTan dưới mọi hình thức, khiến hệ thống không tiếp tục hoạt động, bằng các tiểu xảo kỹ thuật hay bằng những thông tin sai lệch;







            7. Kích thước Avatar không được quá 130 x 130 pixel (hay 3,67cm x 3,67cm) và dung lượng không được lớn hơn 150 KB;
        </div>
        <div class="col-md-6">
            8. Sinh viên/Học viên ở học kỳ đầu (hay trong một số trường hợp, ở năm đầu) phải tuân thủ việc phân bổ môn học của nhà trường.



            9. Sinh viên/Học viên cam kết chịu trách nhiệm hoàn toàn về những quyết định Đăng ký Môn học của mình theo từng học kỳ (sau học kỳ đầu tiên) trên myDuyTan. Những quyết định đăng ký môn, bỏ môn, thôi môn sẽ ảnh hưởng đến tiến độ học nhanh hay chậm của sinh viên cũng như gián tiếp tác động đến kết quả học tập cuối cùng cho kỳ học đó.




        </div>
    </div>
</div>
