@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}
<style>
    h4 {
        margin-top: 12px;
        margin-left: 44px;
    }

    .cnt-main {
        height: 370px;
    }
</style>
<h4>Nội Quy Sử Dụng Hệ Thống CNTT-DUYTAN</h4>
<div class="cnt-main">
    <div class="grid">
        <div class="col-md-6">
            <pre>
            Mô Tả Về Hệ Thống

   Website thuộc sự quản lý của khoa CNTT,
hổ trợ cho sinh viên đăng kí những môn mà
mình muốn học trong học kì tới, để từ đó
giáo vụ sẽ thống kê lại số lượng sinh viên
của từng lớp, để biết số lượng sinh viên
chính xác của lớp đó là bao nhiêu, để mở
lớp cho đúng với sinh viên đăng kí, tránh
tình trạng khoa mở lớp không đáp ứng được
nhu cầu sinh viên.
            </pre>
        </div>
        <div class="col-md-6">
            <pre>
            Quy Định Về Hệ Thống

1. Sinh viên chỉ được đăng kí những môn chưa
   học trong chương trình học của Mydtu.
2. Không có hành vi gian lận trong đăng kí
            </pre>
        </div>
    </div>
</div>
