
@{
    ViewBag.Title = "TrungSV";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<script>
    function goback() {
        history.back(-1)
    }
</script>
<h2 class="alert-danger">Sinh Viên đã tồn tại trong DataBase</h2>
<div class="btn">
    <a href='javascript:goback()'>Quay lại trang trước</a>
</div>
